<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-4">
      <h1 id="score"></h1>
      <select class="cs-select cs-skin-elastic" id="playlists">
        <option id="disabled" value="" disabled selected>Select a Playlist</option>
      </select>
    </div>
    <div class="col-sm-4">
      <h2>Recently Scored Playlists</h2>
      <ul id="recent">
        <% HipsterScore.recent(10).each do |hipster_score| %>
          <% if hipster_score.spotify_url.blank? %>
            <li><%= hipster_score.playlist_name %> by <%= hipster_score.owner_name %> - <%= score(hipster_score.score) %></li>
          <% else %>
            <li><a target="_blank" href="<%=hipster_score.spotify_url%>"><%= hipster_score.playlist_name %></a> by <%= hipster_score.owner_name %> - <%= score(hipster_score.score) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script src="/assets/calculator.js"></script>
