<!DOCTYPE html>
<html>
<head>
  <title>Hipster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<section id="recent">
  <header>
    <h2>Recently Scored Playlists</h2>
  </header>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table>
        <tbody>
          <% HipsterScore.recent(5).includes(:playlist).each do |hipster_score| %>
            <%= render 'calculator/table_row', hipster_score: hipster_score %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="top">
  <header>
    <h2>Top Scoring Playlists</h2>
  </header>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table>
        <tbody>
          <% HipsterScore.top(10).each do |hipster_score| %>
            <%= render 'calculator/table_row', hipster_score: hipster_score %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<footer>
<p>Made by Tripp Roberts</p>
</footer>


</body>
</html>
