<!DOCTYPE html>
<html>
<head>
  <title>Playlist Rater</title>
  <% if @playlist %>
    <meta property="og:url" content="http://hipster-rate.me/playlists/<%= @playlist.spotify_id %>" />
    <meta property="og:title" content="Spotify Playlist Rater" />
    <meta property="og:description" content="How hipster are your playlists? My playlist, <%= @playlist.name %>, scored a <%= @playlist.score %>" />
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>

<body data-spy="scroll" data-target="#navbar">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
  <ul class="nav navbar-nav navbar-right">
    <li id="to-top"><a class="btn" href="#intro"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
    <li><a class="btn" href="#recent">Recent Playlists</a></li>
    <li><a class="btn" href="#top">Top Playlists</a></li>
  </ul>
</nav>

<%= yield %>

<section id="recent">
  <header>
    <h2>Recently Scored Playlists</h2>
  </header>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table>
        <tbody>
          <% HipsterScore.recent(10).includes(:playlist).each do |hipster_score| %>
            <%= render 'calculator/table_row', hipster_score: hipster_score %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>

<section id="top">
  <header>
    <h2>Top Scoring Playlists</h2>
  </header>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <table>
        <tbody>
          <% HipsterScore.top(10).each do |hipster_score| %>
            <%= render 'calculator/table_row', hipster_score: hipster_score %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<footer>
<p>Made by Tripp Roberts</p>
</footer>


</body>
<!-- enable gradual transition on nav click -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.3/jquery.scrollTo.min.js"></script>
<script>
  $(function() {
    $('#navbar').bind('click', 'ul li a', function(event) {
      event.preventDefault()
      $.scrollTo(event.target.hash, 250);
    });
  });
</script>
<!-- end enable gradual transition on nav click -->

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57387526-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- end Google analytics -->
</html>
